!/.gitignore

**/test.mp4
Geometry/PerpendicularBisector/media/videos/perpendicular_bisector/480p15/test.mp4
# test.mp4
# *test.mp4
# **test.mp4
# /test.mp4
# */test.mp4

# test
# *test
# **test
# /test
# */test
# **/test

random\ tests/

__pycache__/

images/
Tex/
texts/
partial_movie_files/
test/
720p30/
1080p60/
2160p60/
